body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
	font-family: Arial, sans-serif; /* Set default font to Arial */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/minimalism.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Text color on the background */
}

h1 {
    font-size: 60px;
	font-family: 'Comfortaa', cursive;
	color: #00747d; /* Change font color to blueish */

}

.social-buttons {
    margin-top: 20px;
    display: flex; /* Use flexbox to control button spacing */
    justify-content: center; /* Center buttons horizontally */
}


.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s;

}

.button:hover {
    background-color: #555; /* Change color on hover */
}

.linkedin {
    background-color: #0077B5;
}

.twitter {
    background-color: #1DA1F2;
}

.instagram {
    background-color: #E4405F;
}

.bluesky {
    background-color: #0070ff;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .social-buttons {
        flex-direction: column; /* Stack buttons vertically */
        align-items: center; /* Center buttons horizontally */
    }

    .button {
        margin: 10px 0; /* Add vertical spacing between buttons */
    }
}